<script>
  const hour = (new Date()).getHours();
  let filename = "";
  if (hour >= 6 && hour < 8) {
    filename = "{{ '/assets/css/style-solarized.css' | relative_url }}";
  } else if (hour >= 8 && hour < 15) {
    filename = "{{ '/assets/css/style-classic.css' | relative_url }}";
  } else if (hour >= 15 && hour < 18) {
    filename = "{{ '/assets/css/style-solarized.css' | relative_url }}";
  } else {
    filename = "{{ '/assets/css/style-solarized-dark.css' | relative_url }}";
  }
  const elem = document.createElement("link");
  elem.setAttribute("rel", "stylesheet");
  elem.setAttribute("type", "text/css");
  elem.setAttribute("href", filename);
  document.getElementsByTagName("head")[0].appendChild(elem);
</script>
