<div class="post-categories-wrapper">
  <span class="post-categories">
    <svg class="svg-icon grey"><use xlink:href="{{ 'assets/minima-label-icons.svg#folder-open' | relative_url }}"></use></svg>
    <ul class="category-list">
      {%- assign categories = page.categories | sort -%}
      {%- for category in categories -%}
        {%- capture category_url -%}/categories/#{{ category_name | slugify }}{%- endcapture -%}
        <li><a class="category" href="{{ category_url | relative_url }}">{{ category }}</a></li>
      {%- endfor -%}
    </ul>
  </span>
</div>
