---
layout: page
---

{{ content }}

{%- assign max_count = 0 -%}
{%- for category in site.categories -%}
  {%- assign posts = category[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

<ul class="category-list">
  {%- for i in (1..max_count) reversed -%}
    {%- for category in site.categories -%}
      {%- assign category_name = category[0] -%}
      {%- assign posts = category[1] -%}
      {%- if posts.size == i -%}
        <li>
          {%- capture category_url -%}{{ site.minima.categories_url }}#{{ category_name | slugify }}{%- endcapture -%}
          <a class="category" href="{{ category_url | absolute_url }}">{{ category_name }}</a> <small>{{ posts.size }}</small>
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</ul>

{%- for i in (1..max_count) reversed -%}
  {%- for category in site.categories -%}
    {%- assign category_name = category[0] -%}
    {%- assign posts = category[1] -%}
    {%- if posts.size == i -%}
      <h3>{{ category_name }}</h3>
      <ul>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
          <li>{{ post.date | date: date_format }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
