---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="wrapper">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="wrapper">
    {%- if page.toc -%}
      <div class="toc-wrapper">
        <h2>Table of Contents</h2>
        <nav class="toc">
          {%- include toc.html html=content -%}
        </nav>
      </div>
    {%- endif -%}
    
    <div class="post-content">
      {{ content }}
    </div>
  </div>

</article>
