---
layout: page
---

{{ content }}

{%- assign max_count = 0 -%}
{%- for tag in site.tags -%}
  {%- assign posts = tag[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

<div class="site-tags-wrapper">
  <span class="tag-list">
    {%- for i in (1..max_count) reversed -%}
      {%- for tag in site.tags -%}
        {%- assign tag_name = tag[0] -%}
        {%- assign posts = tag[1] -%}
        {%- if posts.size == i -%}
          {%- capture tag_url -%}{{ site.minima.tags_url }}#{{ tag_name | slugify }}{%- endcapture -%}
          {%- capture title -%}{{ posts.size }} {% if posts.size == 1 %}post{% else %}posts{% endif %}{%- endcapture -%}
          <a class="tag" href="{{ tag_url | absolute_url }}" title="{{ title }}" data-count="{{ posts.size }}">{{ tag_name }}</a>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </span>
</div>

<script src="{{ '/assets/js/tag-color.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/tag-size.js' | absolute_url }}"></script>

{%- for i in (1..max_count) reversed -%}
  {%- for tag in site.tags -%}
    {%- assign tag_name = tag[0] -%}
    {%- assign posts = tag[1] -%}
    {%- if posts.size == i -%}
      <h3 id="{{ tag_name | slugify }}">{{ tag_name }}</h3>
      <ul>
        {%- for post in posts -%}
          <li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ post.url }}">{{ post.title | escape | markdownify | remove: "<p>" | remove: "</p>" }}</a></li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
